.venv/
venv/
anime_check_data.json
anime_check_data.tmp
__pycache__/
*.pyc
anime_checker_proxy/node_modules/
anime_checker_proxy/.wrangler/
anime_checker_flutter/build/
anime_checker_flutter/.dart_tool/
anime_checker_flutter/.flutter-plugins
anime_checker_flutter/.flutter-plugins-dependencies
anime_checker_flutter/android/key.properties
anime_checker_flutter/android/app/*.jks
anime_checker_flutter/android/app/*.keystore
